@import "global/mixins";


$c-gray: #797979;
$c-brown: #2f1b15;
$c-layout-background: #e9ca97;

$f-base: 'PT Sans', Helvetica, Arial, sans-serif;
$f-input: 'Courier New', Monaco, monospace;

$base-font-size: 21px;

$page-width: 1000px;
