@import "global/mixins";


$c-gray: #797979;
$c-brown: #2f1b15;
$c-input-text: #231f20;
$c-layout-background: #e9ca97;

$f-base: 'PT Sans', Helvetica, Arial, sans-serif;
$f-input: 'Courier New', Monaco, monospace;

$fs-base: 21px;
$fs-input: 30px;

$page-width: 1000px;

$sprites_bg: transparent image-url('sprites.png') no-repeat;

$a: 1;