@import "global/base";


.layout {
  background: $c-layout-background image-url('pattern.jpg') left top repeat;
  margin: 0 auto;
  min-height: 100%;
  width: $page-width;
  padding: 68px 0 80px;

  > header {
    max-width: $page-width - 100px;
    margin: 0 auto;
    margin-bottom:  12px;
  }
  > section {
    max-width: $page-width - 240px;
    margin: 0 auto;
    > article {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;

      }
    }
  }
}


