article {
  header {
    h1 {
      font-weight: bold;
    }
  }
  .comment {
    line-height: 22px;
    font-size: 14px;
    color: #3d3d3d;
    margin: 20px 0 10px;
    padding-left: 20px;
    position: relative;

    &:before {
      content: "*";
      font-size: 36px;
      line-height: 1;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}