input[type=text] {
  font-family: $f-input;
  font-size: $fs-input;
  color: $c-input-text;
  background: transparent image-url('bg-input.png') left bottom repeat-x;
  padding: 10px;
  @include box-sizing(border-box);
  border: none;
  width: 100%;
  &:focus {
    outline: none;
    background-image: image-url('bg-input-focus.png');
  }
}